/* 
    Created on : 23/07/2026, 3:17:46 a. m.
    Author     : migor
*/
/* Leaflet v1.9.4 Core Styles */
.leaflet-pane,.leaflet-tile,.leaflet-marker-icon,.leaflet-marker-shadow,.leaflet-tile-container,.leaflet-pane>svg,.leaflet-pane>canvas,.leaflet-zoom-box,.leaflet-image-layer,.leaflet-layer{
    position:absolute;
    left:0;
    top:0
}
.leaflet-container{
    overflow:hidden;
    -webkit-tap-highlight-color:transparent
}
.leaflet-tile,.leaflet-marker-icon,.leaflet-marker-shadow{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-user-drag:none
}
.leaflet-tile-backdrop{
    background:#dfd8d0
}
.leaflet-safari .leaflet-tile{
    -webkit-image-rendering:-webkit-optimize-contrast
}
.leaflet-safari .leaflet-tile-container{
    width:1600px;
    height:1600px;
    -webkit-transform-origin:0 0
}
.leaflet-marker-icon,.leaflet-marker-shadow{
    display:block
}
.leaflet-container svg,.leaflet-container img{
    max-width:none!important;
    max-height:none!important
}
.leaflet-container canvas{
    max-width:none!important;
    max-height:none!important
}
.leaflet-image-layer,.leaflet-container .leaflet-tile{
    pointer-events:none
}
.leaflet-container .leaflet-tile-loaded{
    pointer-events:auto
}
.leaflet-overlay-pane{
    z-index:400
}
.leaflet-shadow-pane{
    z-index:500
}
.leaflet-marker-pane{
    z-index:600
}
.leaflet-tooltip-pane{
    z-index:650
}
.leaflet-popup-pane{
    z-index:700
}
.leaflet-map-pane canvas{
    z-index:100
}
.leaflet-map-pane svg{
    z-index:200
}
.leaflet-vml-shape{
    width:1px;
    height:1px
}
.lvml{
    behavior:url(#default#VML);
    display:inline-block;
    position:absolute
}
.leaflet-control{
    position:relative;
    z-index:800;
    pointer-events:auto
}
.leaflet-top,.leaflet-bottom{
    position:absolute;
    z-index:1000;
    pointer-events:none
}
.leaflet-top{
    top:0
}
.leaflet-right{
    right:0
}
.leaflet-bottom{
    bottom:0
}
.leaflet-left{
    left:0
}
.leaflet-control{
    float:left;
    clear:both
}
.leaflet-right .leaflet-control{
    float:right
}
.leaflet-top .leaflet-control{
    margin-top:10px
}
.leaflet-bottom .leaflet-control{
    margin-bottom:10px
}
.leaflet-left .leaflet-control{
    margin-left:10px
}
.leaflet-right .leaflet-control{
    margin-right:10px
}
.leaflet-fade-anim .leaflet-pane{
    opacity:0;
    transition:opacity .2s linear
}
.leaflet-fade-anim .leaflet-tile{
    filter:inherit;
    opacity:0;
    transition:opacity .2s linear
}
.leaflet-fade-anim .leaflet-tile-loaded{
    opacity:1
}
.leaflet-zoom-animated{
    transform-origin:0 0
}
.leaflet-zoom-anim .leaflet-zoom-animated{
    transition:transform .25s cubic-bezier(0,0,0.25,1)
}
.leaflet-zoom-anim .leaflet-tile,.leaflet-pan-anim .leaflet-tile{
    transition:none
}
.leaflet-zoom-anim .leaflet-zoom-hide{
    visibility:hidden
}
.leaflet-interactive{
    cursor:pointer
}
.leaflet-grab{
    cursor:-webkit-grab;
    cursor:grab
}
.leaflet-dragging .leaflet-grab,.leaflet-dragging .leaflet-interactive{
    cursor:move;
    cursor:-webkit-grabbing;
    cursor:grabbing
}
.leaflet-bar{
    box-shadow:0 1px 5px rgba(0,0,0,0.65);
    border-radius:4px
}
.leaflet-bar a{
    background-color:#fff;
    border-bottom:1px solid #ccc;
    width:26px;
    height:26px;
    line-height:26px;
    display:block;
    text-align:center;
    text-decoration:none;
    color:#000
}
.leaflet-bar a:hover,.leaflet-bar a:focus{
    background-color:#f4f4f4
}
.leaflet-bar a:first-child{
    border-top-left-radius:4px;
    border-top-right-radius:4px
}
.leaflet-bar a:last-child{
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-bottom:none
}
.leaflet-control-zoom-in,.leaflet-control-zoom-out{
    font:bold 18px 'Lucida Console', Monaco, monospace;
    text-indent:1px
}
.leaflet-touch .leaflet-bar a{
    width:30px;
    height:30px;
    line-height:30px
}
.leaflet-touch .leaflet-control-zoom-in{
    font-size:22px
}
.leaflet-touch .leaflet-control-zoom-out{
    font-size:24px
}
.leaflet-control-attribution{
    background:#fff;
    background:rgba(255,255,255,0.8);
    margin:0;
    padding:0 5px;
    font:11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    color:#333
}
.leaflet-control-attribution a{
    text-decoration:none;
    color:#0078A8
}
.leaflet-control-attribution a:hover{
    text-decoration:underline
}
.leaflet-container .leaflet-control-attribution,.leaflet-container .leaflet-control-scale{
    font-size:12px
}
.leaflet-popup{
    position:absolute;
    text-align:center;
    margin-bottom:20px
}
.leaflet-popup-content-wrapper{
    padding:1px;
    text-align:left;
    border-radius:12px;
    background:#fff;
    box-shadow:0 3px 14px rgba(0,0,0,0.4)
}
.leaflet-popup-content{
    margin:13px 24px 13px 20px;
    line-height:1.3;
    font:12px/1.4 "Helvetica Neue", Arial, Helvetica, sans-serif;
    min-height:1px
}
.leaflet-popup-tip-container{
    width:40px;
    height:20px;
    position:absolute;
    left:50%;
    margin-left:-20px;
    overflow:hidden;
    pointer-events:none
}
.leaflet-popup-tip{
    width:17px;
    height:17px;
    padding:1px;
    margin:-10px auto 0;
    transform:rotate(45deg);
    background:#fff;
    box-shadow:0 3px 14px rgba(0,0,0,0.4)
}
.leaflet-popup-scrolled{
    overflow:auto;
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd
}
.leaflet-popup-close-button{
    position:absolute;
    top:0;
    right:0;
    border:none;
    text-align:center;
    width:24px;
    height:24px;
    font:16px/24px Tahoma, Verdana, sans-serif;
    color:#c3c3c3;
    text-decoration:none;
    font-weight:bold;
    background:transparent;
    cursor:pointer
}
.leaflet-popup-close-button:hover{
    color:#999
}
.leaflet-tooltip{
    position:absolute;
    padding:6px;
    background-color:#fff;
    border:1px solid #fff;
    border-radius:3px;
    color:#222;
    white-space:nowrap;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    pointer-events:none;
    box-shadow:0 1px 3px rgba(0,0,0,0.4)
}
.leaflet-tooltip-top:before,.leaflet-tooltip-bottom:before,.leaflet-tooltip-left:before,.leaflet-tooltip-right:before{
    position:absolute;
    pointer-events:none;
    border:6px solid transparent;
    background:transparent;
    content:""
}
.leaflet-tooltip-bottom{
    margin-top:6px
}
.leaflet-tooltip-top{
    margin-top:-6px
}
.leaflet-tooltip-bottom:before{
    top:-12px;
    left:50%;
    margin-left:-6px;
    border-bottom-color:#fff
}
.leaflet-tooltip-top:before{
    bottom:-12px;
    left:50%;
    margin-left:-6px;
    border-top-color:#fff
}
.leaflet-tooltip-left{
    margin-left:-6px
}
.leaflet-tooltip-right{
    margin-left:6px
}
.leaflet-tooltip-left:before{
    top:50%;
    margin-top:-6px;
    right:-12px;
    border-left-color:#fff
}
.leaflet-tooltip-right:before{
    top:50%;
    margin-top:-6px;
    left:-12px;
    border-right-color:#fff
}


